/* --ANIMATION-- */
.container-animation {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(10%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    transition: all 2s
}
